</div>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen">
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script type="text/javascript">
    moment.locale('ko');
</script>
<script type="text/javascript" src="{% static 'js/time.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vote.js' %}"></script>
<script type="text/javascript">

    /*** main nav tap activate ***/
    $(function () {
        var sort = "{{ sort }}";
        $("li."+sort).addClass("active");
    });
</script>
</body>
</html>