</div>
<script type="text/javascript">
    function vote(node) {
        var thread_id = node.attr("href").split('\/')[2];
        $.ajax({
            url: node.attr("href"),
            dataType: "json",
            success: function(data) {
                $("#vote_count_"+thread_id).html(data.count);
            },
            error: function(data) {
                // fail
            }
        });
    }

    $("a.vote").on("click", function() {
        vote($(this));
        return false;
    });

    $(function () {
        var sort = "{{ sort }}";
        $("li."+sort).addClass("active");
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script type="text/jsx;harmony=true" src="{{ STATIC_URL }}js/comment.js"></script>
</body>
</html>