</div>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen">
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'js/valid.js' %}"
<script type="text/javascript">
    moment.locale('ko');
</script>
<script type="text/javascript" src="{% static 'js/time.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vote.js' %}"></script>
<script type="text/javascript">

	{% if sort %}
    /*** main nav tap activate ***/
    $(function () {
        $("li.{{ sort }}").addClass("active");
    });
    {% endif %}
</script>
</body>
</html>