<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>News!</title>
</head>
<body>

<div>
    {% if user.is_authenticated %}
        <span>{{ user.username }}</span>
        <a href="{% url 'user_logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
    {% endif %}

    <a href="{% url 'index' %}">Main</a>
    <a href="{% url 'newest_list' %}">Newest</a>
    <a href="{% url 'new_thread' %}">Submit</a>
</div>