{% include 'header.html' %}
<h1>Create Account</h1>
{% include 'error.html' %}
<div class="col-sm-6">
    <form method="post" action="{% url 'signup_submit' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <div class="form-group">
            <label for="confirm_password">Confirm password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>

        <div class="form-group">
            <input type="submit" class="form-control" value="Submit">
        </div>
        <a href="{% url 'index' %}">To main</a>
    </form>
</div>

{% include 'footer.html' %}