{% include 'header.html' %}
<table>
    <tr><td>
            <div>
                <a href="/thread/{{ thread.id }}/vote?is_up=1" class="vote">
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
                <br>
                <a href="/thread/{{ thread.id }}/vote?is_up=0" class="vote">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
            </div>
        </td>

        <td>
            <span id="vote_count_{{ thread.id }}">{{ thread.get_vote_count }}</span>
        </td>

        <td>
            <h2><a href="{{ thread.url }}">{{ thread.title }}</a></h2>
            <span>Score {{ thread.get_score }}</span>
        </td>
        <td>
            <span>{{ thread.pub_date }}</span>
        </td>
    </tr>

    <tr><td>
        <div>{{ thread.content }}</div>
    </td></tr>
</table>

<div id="comment_wrapper">

</div>
<script>
    var thread_id = {{ thread.id }};
    var poll_url = "/api/v1/comment/?format=json&thread__id="+thread_id+ "&parent_comment__isnull=true";
</script>

{% include 'footer.html' %}