{% include 'header.html' %}

<div class="panel panel-default">
    <div class="panel-heading">
    <table class="thread">
        <tr><td>
            <div>
                <a href="/thread/{{ thread.id }}/vote?is_up=1" class="vote">
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
                <br>
                <a href="/thread/{{ thread.id }}/vote?is_up=0" class="vote">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
            </div>
        </td>

        <td>
            <h4 id="vote_count_{{ thread.id }}">{{ thread.get_vote_count }}</h4>
        </td>

        <td>
            <h2><a href="{{ thread.url }}">{{ thread.title }}</a></h2>
            <ol class="breadcrumb">
                <li><span>{{ thread.writer.username }}</span></li>
                <li><span class="time_presentation">{{ thread.pub_date | date:"c" }}</span></li>
                <li><span>Score {{ thread.get_score }}</span></li>
                <li><span>댓글 {{ thread.comment_set.count }}</span></li>
            </ol>
        </td></tr>
    </table>
    </div>
    <div class="panel-body">
        {{ thread.content }}
    </div>
</div>

<ul class="comment_wrapper list-group"></ul>
<script>
    var thread_id = {{ thread.id }};
</script>

<div id="comment-form-wrapper">
    <form id="comment-form" method="post" action="/api/v1/comment/">
        <input type="hidden" name="thread" value="/api/v1/thread/{{ thread.id }}/">

        <div class="form-group col-sm-3 col-md-2 col-lg-2">
            <input type="button" class="form-control reply_on_thread" value="글에 댓글달기">
        </div>

        <div class="form-group col-sm-6 col-md-7 col-lg-7">
            <input type="text" placeholder="댓글을 입력하세요" class="form-control" name="content">
        </div>

        <div class="form-group col-sm-3 col-md-2 col-lg-2">
            <input type="submit" class="form-control" value="Submit">
        </div>
    </form>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/comment.js"></script>
{% include 'footer.html' %}